.intro-wrapper {
  align-items:     center;
  display:         flex;
  flex-direction:  column;
  justify-content: center;

  .description {
    color:       #FFFFFF;
    font-family: 'Gilroy';
    margin-bottom:      16px;
    max-width:   819px;
  }

  .section-text {
    &__title-wrapper {
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title {
      text-align: center;
      margin: 0;
    }
  }
}
