.partner-cont {
  align-items:     center;
  display:         flex;
  flex-wrap:       wrap;
  justify-content: flex-start;
  margin:          auto;
  max-width:       85%;

  .partner {
    align-items:     center;
    border:          1px solid #191C1E;
    border-radius:   4px;
    display:         flex;
    height:          99px;
    justify-content: center;
    margin-bottom:   26px;
    width:           217px;
  }
}
