.description {
  margin: 7px 0 18px;
}

.partner-cont {
  display:               grid;
  grid-column-gap:       41px;
  grid-row-gap:          26px;
  grid-template-columns: auto auto auto auto auto;
  padding:               0 20px;

  .partner {
    align-items:     center;
    border:          1px solid #191C1E;
    border-radius:   4px;
    display:         flex;
    height:          99px;
    justify-content: center;
    width:           217px;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  .row {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (max-width: 1268px) {
  .partner-cont {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 1006px) {
  .partner-cont {
    display:         flex;
    flex-wrap:       wrap;
    grid-column-gap: 5%;
    width:           100%;

    .partner {
      width: 30%;
    }
  }
}
