.aggregator-images {
  display:         flex;
  justify-content: center;

  img {
    max-width: 48%;
    width:     48%;
  }
}

@media only screen and (max-width: 991px) {
  .aggregator-images {
    flex-direction: column;

    img {
      max-width: 100%;
      width:     100%;
    }
  }
}
