$active-color: rgba(252, 217, 141, 1);

.slider-images {
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     cover;
  border:              12px solid #171B1D;
  border-radius:       12px;
  height:              609px;
  margin:              auto;
  max-width:           976px;
}

.dot-cont {
  align-items:     center;
  display:         flex;
  justify-content: center;

  .dot {
    background: rgba(252, 217, 141, 0.28);
    height:     9px;
    margin:     0 2px;
    width:      29px;

    &__active {
      background: $active-color;
    }

    &:hover {
      background: $active-color;
      cursor:     pointer;
    }
  }
}
