/*
*Font Styles
**/
@import url('./assets/fonts/gilroy/style.css');
@import url('./assets/fonts/euclid-circular-a-cufonfonts-webfont/style.css');
@import url('./assets/fonts/sf-pro-display-cufonfonts-webfont/style.css');
@import url('./assets/fonts/furore-cufonfonts-webfont/style.css');

:root {
  --toastify-color-progress-success: rgba(37, 44, 54, 0.43);
  --toastify-color-success:          #000000;
}

.Toastify__toast--success {
  background: #FCD98D;
}

* {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
  transition: 0.3s ease all;
}

html {
  overflow-x:      hidden;
  scroll-behavior: smooth;
}

body {
  background:              #151515;
  font-family:             -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
                           'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:  antialiased;
  margin:                  0;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:              hidden;
}

a, a:visited {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section-text {
  &__title, &__description, &__pressrelease {
    font-family: 'Space Grotesk';
    font-weight: 500;
    text-align:  center;
  }

  &__title {
    color:     #FFFFFF;
    font-size: 36px;

    &--small {
      color:          #FDDB92;
      font-family:    'Space Grotesk';
      font-size:      18px;
      font-weight:    500;
      text-align:     center;
      text-transform: uppercase;
    }
  }

  &__description {
    color:     #979EAF;
    font-size: 18px;
  }

  &__pressrelease {
    color:     #979EAF;
    font-size: 14px;
  }
}

@media all and (max-width: 768px) {
  .chain-label-icon {
    height: 28px !important;
    width:  28px !important;
  }
}

@media only screen and (max-width: 1166px) {
  .section-text {
    &__title {
      font-size: 24px;

      &--small {
        font-size: 24px;
      }
    }

    &__description {
      font-size: 16px;
    }

    &__pressrelease {
      color:     #979EAF;
      font-size: 14px;
    }
  }
}
